/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************
TAG 
***************/
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/*************** 
ID 
***************/

/*************** 
CLASS 
***************/

/* General */
.container{
    width: 920px;
    margin: 0 auto;
}

/* btn */
.btn{
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    text-decoration: none;
}
.btn--white{
    background-color: #fff;
    color:#000;
}

/* Column */
.col-1_6 {
    width: calc(100% / 6);
}
  
.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-6_6{
    width: 100%;
}

[class*="col-"] {
  float: left;
}

/* Menù */
.row__menu{
    padding-top:30px;
}
nav ul{
    text-align: center;
    line-height: 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

/* Hero Section */
.sectionHero{
    padding:96px 0;
}
.sectionHero .sectionHero__text{
    color:#fff;
    text-align: center;
}
.sectionHero .sectionHero__text h1{
    padding-bottom: 24px;
}
