/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************
TAG 
***************/

/*************** 
ID 
***************/

/*************** 
CLASS 
***************/

/* column */
.col-1_6 {
    width: calc(100% / 6);
}
  
.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-6_6{
    width: 100%;
}
