/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

/***************
TAG 
***************/
body{
    font-family: 'Heebo', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center center;
}
img{
    max-width: 100%;
}
section{
    padding: 150px 0;
}
footer{
    background-color: #23272a;
}
/*************** 
ID 
***************/

/*************** 
CLASS 
***************/

/* Utility */
.container{
    width: 920px;
    margin: 0 auto;
}

/* Modifier */
.mr--auto{
    margin-left: calc(100% / 6);
    margin-right: calc(100% / 6);
}
.pt--0{
    padding-top: 0;
}
.pt--30{
    padding-top:30px;
}
.bg--primary{
    background-color: #f6f6f6;
}
.text--center{
    text-align: center;
}

/* btn */
.btn{
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    color:#000;
    padding: 16px 32px;
    display: inline-block;
}
.btn--white{
    background-color: #fff;
}
.btn--dark{
    background-color: #23272a;
    color: #fff;
}
.btn--primary{
    background-color: #8ea1e1;
    color: #fff;
}
.btn--small{
    font-size: 14px;
    padding: 7px 16px;
}

/* Column */
.col-1_6 {
    width: calc(100% / 6);
}
  
.col-2_6 {
    width: calc(100% / 6 * 2);
}

.col-3_6 {
    width: calc(100% / 6 * 3);
}

.col-4_6 {
    width: calc(100% / 6 * 4);
}

.col-6_6{
    width: 100%;
}

[class*="col-"] {
  float: left;
}

/* Menù */
.row__menu{
    padding-top:30px;
}
nav ul{
    text-align: center;
    line-height: 20px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

/* Hero Section */
.sectionHero{
    padding:150px 0;
}
.sectionHero .sectionHero__text{
    color:#fff;
    text-align: center;
    padding-bottom: 48px;
}
.sectionHero .sectionHero__text h1{
    padding-bottom: 24px;
    font-size: 50px;
}
.sectionHero__button{
    text-align: center;
}
.sectionHero__button a {
    display: inline-block;
}

/* Section Main */
section h2{
    font-size: 40px;
    line-height: 1em;
    padding-bottom: 12px;
}
section h3 {
    font-size: 30px;
}
section .img-stars{
    position: relative;
    top: 30px;
}
.section:nth-child(even) .col-4_6{
    float: right;
}
